In [2]:
import pandas as pd

In [3]:
cars=pd.read_csv("./datasets/cars_ready.csv")

In [4]:
cars.head()

,Unnamed: 0,selling_price,km_driven,mileage,engine,max_power,seats,age,fuel_CNG,fuel_Diesel,...,seller_type_Individual,seller_type_Trustmark Dealer,transmission_Automatic,transmission_Manual,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner,brand_freq
0,0,450000,145500,23.40,1248.0,74.00,5.0,11,0,1,...,1,0,0,1,1,0,0,0,0,2844
1,1,370000,120000,21.14,1498.0,103.52,5.0,11,0,1,...,1,0,0,1,0,0,1,0,0,58
2,2,158000,140000,17.70,1497.0,78.00,5.0,19,0,0,...,1,0,0,1,0,0,0,0,1,300
3,3,225000,127000,23.00,1396.0,90.00,5.0,15,0,1,...,1,0,0,1,1,0,0,0,0,1099
4,4,130000,120000,16.10,1298.0,88.20,5.0,18,0,0,...,1,0,0,1,1,0,0,0,0,2844

In [5]:
cars.drop(cars.columns[0],axis=1,inplace=True)

In [6]:
cars.head()

,selling_price,km_driven,mileage,engine,max_power,seats,age,fuel_CNG,fuel_Diesel,fuel_LPG,...,seller_type_Individual,seller_type_Trustmark Dealer,transmission_Automatic,transmission_Manual,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner,brand_freq
0,450000,145500,23.40,1248.0,74.00,5.0,11,0,1,0,...,1,0,0,1,1,0,0,0,0,2844
1,370000,120000,21.14,1498.0,103.52,5.0,11,0,1,0,...,1,0,0,1,0,0,1,0,0,58
2,158000,140000,17.70,1497.0,78.00,5.0,19,0,0,0,...,1,0,0,1,0,0,0,0,1,300
3,225000,127000,23.00,1396.0,90.00,5.0,15,0,1,0,...,1,0,0,1,1,0,0,0,0,1099
4,130000,120000,16.10,1298.0,88.20,5.0,18,0,0,0,...,1,0,0,1,1,0,0,0,0,2844

In [7]:
cars.columns

Index(['selling_price', 'km_driven', 'mileage', 'engine', 'max_power', 'seats',
       'age', 'fuel_CNG', 'fuel_Diesel', 'fuel_LPG', 'fuel_Petrol',
       'seller_type_Dealer', 'seller_type_Individual',
       'seller_type_Trustmark Dealer', 'transmission_Automatic',
       'transmission_Manual', 'owner_First Owner',
       'owner_Fourth & Above Owner', 'owner_Second Owner',
       'owner_Test Drive Car', 'owner_Third Owner', 'brand_freq'],
      dtype='object')

In [8]:
kd=cars.km_driven

In [11]:
mean_kd=kd.mean()

In [12]:
std_kd=kd.std()

In [13]:
kd

0       145500
1       120000
2       140000
3       127000
4       120000
         ...
6921     50000
6922     80000
6923    110000
6924    119000
6925    120000
Name: km_driven, Length: 6926, dtype: int64

In [14]:
(kd-mean_kd)/std_kd

0       1.225268
1       0.788311
2       1.131023
3       0.908260
4       0.788311
          ...
6921   -0.411180
6922    0.102888
6923    0.616955
6924    0.771175
6925    0.788311
Name: km_driven, Length: 6926, dtype: float64

In [16]:
((kd-mean_kd)/std_kd>3).sum()

61

In [17]:
((kd-mean_kd)/std_kd<-3).sum()

0

In [22]:
(((kd-mean_kd)/std_kd).abs()>3).sum()

61

In [23]:
target=cars.selling_price
features= cars.drop("selling_price",axis=1)

# Building the models

In [24]:
target

0       450000
1       370000
2       158000
3       225000
4       130000
         ...
6921    260000
6922    475000
6923    320000
6924    135000
6925    382000
Name: selling_price, Length: 6926, dtype: int64

In [26]:
features.head()

,km_driven,mileage,engine,max_power,seats,age,fuel_CNG,fuel_Diesel,fuel_LPG,fuel_Petrol,...,seller_type_Individual,seller_type_Trustmark Dealer,transmission_Automatic,transmission_Manual,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner,brand_freq
0,145500,23.40,1248.0,74.00,5.0,11,0,1,0,0,...,1,0,0,1,1,0,0,0,0,2844
1,120000,21.14,1498.0,103.52,5.0,11,0,1,0,0,...,1,0,0,1,0,0,1,0,0,58
2,140000,17.70,1497.0,78.00,5.0,19,0,0,0,1,...,1,0,0,1,0,0,0,0,1,300
3,127000,23.00,1396.0,90.00,5.0,15,0,1,0,0,...,1,0,0,1,1,0,0,0,0,1099
4,120000,16.10,1298.0,88.20,5.0,18,0,0,0,1,...,1,0,0,1,1,0,0,0,0,2844

In [27]:
from sklearn.model_selection import train_test_split

In [28]:
X_train,X_test,y_train,y_test=train_test_split(features,target,random_state=42,test_size=0.2)

In [29]:
X_train.shape

(5540, 21)

In [30]:
X_test.shape

(1386, 21)

In [33]:
y_train.shape

(5540,)

In [34]:
y_test.shape

(1386,)

In [36]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
# def evaluate_model(model,X_train,X_test,y_train,y_test):

In [40]:
linear_model= LinearRegression()
linear_model.fit(X_train,y_train)

y_train_pred= linear_model.predict(X_train)
training_score=r2_score(y_train,y_train_pred)

y_test_pred= linear_model.predict(X_test)
testing_score=r2_score(y_test,y_test_pred)
print(f"Test score: {testing_score}\nTrain Score:{training_score}")

Test score: 0.5460089735286378
Train Score:0.6536869736935889

In [ ]:
def evaluate_model(model,X_train,X_test,y_train,y_test):
    model.fit(X_train,y_train)

    y_train_pred= model.predict(X_train)
    training_score=r2_score(y_train,y_train_pred)

    y_test_pred= model.predict(X_test)
    testing_score=r2_score(y_test,y_test_pred)
    print(f"Test score: {testing_score}\nTrain Score:{training_score}")

In [43]:
linear_model=LinearRegression()
evaluate_model(linear_model,X_train,X_test,y_train,y_test)

Test score: 0.5460089735286378
Train Score:0.6536869736935889

In [45]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeRegressor
tree_model = DecisionTreeRegressor()
evaluate_model(tree_model,X_train,X_test,y_train,y_test)

Test score: 0.8567361238433177
Train Score:0.9997603116531871