In [1]:
class BankAccount:
    def __init__(account_name,
                 age,
                 state,
                 type_of_account,
                 phone,
                 address,
                 initial_deposit=0,
                ):
        print("Account created")

In [2]:
account1=BankAccount()
account2=BankAccount()

TypeError: __init__() missing 5 required positional arguments: 'age', 'state', 'type_of_account', 'phone', and 'address'

In [3]:
class BankAccount:
    def __init__(self,account_name,
                 age,
                 state,
                 type_of_account,
                 phone,
                 address,
                 initial_deposit=0,
                ):
        print("Account created")

In [4]:
account1=BankAccount()

TypeError: __init__() missing 6 required positional arguments: 'account_name', 'age', 'state', 'type_of_account', 'phone', and 'address'

In [5]:
account1=BankAccount("David",32,"Abia",
                     "Current","0810477613","Helena Hotels")

Account created

In [11]:
from random import randint
class BankAccount:
    def __init__(self,account_name,
                 age,
                 state,
                 type_of_account,
                 phone,
                 address,
                 initial_deposit=0,
                ):
        self.account_owner=account_name
        self.age=age
        self.state=state
        self.type_of_account=type_of_account
        self.phone=phone
        self.address=address
        self.initial_deposit=initial_deposit
        self.balance=initial_deposit
        self.account_limit=5_000_000
        self.account_number ="05"
        for i in range(8):
            self.account_number+=str(randint(0,9))

In [6]:
5000000

5000000

In [7]:
5_000_000

5000000

In [8]:
5e6

5000000.0

In [9]:
a=3,5,6

In [10]:
a

(3, 5, 6)

In [12]:
account1=BankAccount("David",32,"Abia",
                     "Current","0810477613","Helena Hotels")

In [18]:
account2=BankAccount("Precious",25,"Abia",
                     "Current","0902356091","Mandela Hostel",1e7)

In [14]:
account1.account_limit

5000000

In [15]:
account2.account_number

'0508173732'

In [16]:
account1.age

32

In [17]:
account2.age

25

In [19]:
account2.balance

10000000.0

In [20]:
account2.initial_deposit

10000000.0

In [26]:
from random import randint
class BankAccount:
    def __init__(self,account_name,
                 age,
                 state,
                 type_of_account,
                 phone,
                 address,
                 initial_deposit=0,
                ):
        self.account_owner=account_name
        self.age=age
        self.state=state
        self.type_of_account=type_of_account
        self.phone=phone
        self.address=address
        self.initial_deposit=initial_deposit
        self.balance=initial_deposit
        self.account_limit=5_000_000
        self.account_number ="05"
        for i in range(8):
            self.account_number+=str(randint(0,9))
            
    def make_deposit(self,amount):
        self.balance +=amount

In [27]:
account1=BankAccount("David",32,"Abia",
                     "Current","0810477613","Helena Hotels")

In [23]:
account1.balance

0

In [28]:
account1.make_deposit(5000)

In [29]:
account1.balance

5000

In [30]:
account1.initial_deposit

0

In [31]:
from random import randint
class BankAccount:
    def __init__(self,account_name,
                 age,
                 state,
                 type_of_account,
                 phone,
                 address,
                 initial_deposit=0,
                ):
        self.account_owner=account_name
        self.age=age
        self.state=state
        self.type_of_account=type_of_account
        self.phone=phone
        self.address=address
        self.initial_deposit=initial_deposit
        self.balance=initial_deposit
        self.account_limit=5_000_000
        self.account_number ="05"
        for i in range(8):
            self.account_number+=str(randint(0,9))
            
    def make_deposit(self,amount):
        if amount<50:
            print("Minimum deposit is 50")
        else:
            self.balance +=amount

In [32]:
account1=BankAccount("David",32,"Abia",
                     "Current","0810477613","Helena Hotels")

In [33]:
account1.make_deposit(3000)

In [34]:
account1.balance

3000

In [35]:
account1.make_deposit(40)

Minimum deposit is 50

In [36]:
account1.balance

3000

In [37]:
from math import pi
class Circle:
    def __init__(self,radius):
        self.radius =radius
        
    def get_area(self):
        return pi*self.radius**2
    
    def get_perimeter(self):
        return 2*pi*self.radius

In [38]:
my_circle = Circle(2)

In [39]:
my_circle.get_area()

12.566370614359172

In [40]:
my_circle.get_perimeter()

12.566370614359172

In [41]:
class Vector:
    def __init__(self,x,y,z):
        self.x=x
        self.y=y
        self.z=z
        
    ## Compute method to get magnitude

In [42]:
v1=Vector(1,4,6)

In [43]:
v2=Vector(4,6,0)

In [44]:
v1+v2

TypeError: unsupported operand type(s) for +: 'Vector' and 'Vector'

In [46]:
type(v1)

__main__.Vector

In [47]:
v1

In [48]:
class Vector:
    def __init__(self,x,y,z):
        self.x=x
        self.y=y
        self.z=z
        
    def __add__(self,other_vector):
        x=self.x+other_vector.x
        y=self.y+other_vector.y
        z=self.z+other_vector.z
        return (x,y,z)
        
        
        
    ## Compute method to get magnitude

In [49]:
v1=Vector(1,4,6)
v2=Vector(5,7,-3)

In [50]:
v1+v2

(6, 11, 3)