In [3]:
a=[1,2,3,4,5]
a.reverse()
a

[5, 4, 3, 2, 1]

In [7]:
b=list("jjdidhuy")

In [9]:
b

['j', 'j', 'd', 'i', 'd', 'h', 'u', 'y']

In [11]:
"==".join(b)

'j==j==d==i==d==h==u==y'

In [47]:
"*Val*".join(b)

'j*Val*j*Val*d*Val*i*Val*d*Val*h*Val*u*Val*y'

In [13]:
"".join(b)

'jjdidhuy'

In [23]:
sequence = input("Enter a sequence: ")
sentence_list=list(sequence)
# print(sentence_list)
sentence_list.reverse()
# print(sentence_list)
reversed_word="".join(sentence_list)
# print(reversed_word)
if sequence==reversed_word:
    print("It's a palindrome")
else:
    print("It's not a palindrome")

Enter a sequence:  Ada

It's not a palindrome

In [33]:
sequence = input("Enter a sequence: ").upper().strip()
sentence_list=list(sequence)
# print(sentence_list)
sentence_list.reverse()
# print(sentence_list)
reversed_word="".join(sentence_list)
# print(reversed_word)
if sequence==reversed_word:
    print("It's a palindrome")
else:
    print("It's not a palindrome")

Enter a sequence:  Tunde Ednut

It's a palindrome

In [35]:
"hjdhjdhjdhjjhjd"[::-1]

'djhjjhdjhdjhdjh'

In [43]:
sequence = input("Enter a sequence: ").upper().strip()
if sequence==sequence[::-1]:
    print("It's a palindrome")
else:
    print("It's not a palindrome")

Enter a sequence:  David

It's not a palindrome

In [45]:
sequence = input("Enter a sequence: ").upper().strip()
sequence_list=[]
for character in sequence:
    sequence_list.append(character)
print(sequence_list)
sequence_list.reverse()
# print(sentence_list)
reversed_word="".join(sequence_list)
# print(reversed_word)
if sequence==reversed_word:
    print("It's a palindrome")
else:
    print("It's not a palindrome")

Enter a sequence:  Hello

['H', 'E', 'L', 'L', 'O']

In [ ]:
"Hello, world 123 !!"

In [57]:
phrase =input("Enter a phrase: ").strip()
stripped_phrase=""
for character in phrase:
    if character.isalpha() or character ==" ":
        stripped_phrase =stripped_phrase+character
temp_phrase=stripped_phrase.split(" ")
print(temp_phrase)
temp_phrase.reverse()
print(" ".join(temp_phrase))

Enter a phrase:  Hello, 2345 and more ';/./ this

['Hello', '', 'and', 'more', '', 'this']
this  more and  Hello

# Functions

In [60]:
def add(x,y):# x and y are parameters
    result = x+y
    return result

In [62]:
add(6,12)# 6 and 12 are arguments

18

In [64]:
def add(x,y):# x and y are parameters
    """Takes x and y as numbers and returns the sum"""
    result = x+y
    return result

In [68]:
def add(x,y):# x and y are parameters
    """Takes x and y as numbers and returns the sum
    example:
    add(5,6) returns 11"""
    result = x+y
    return result

In [70]:
def average(a,b,c):
    avg= (a+b+c)/3
    return avg

In [72]:
def average(a,b,c):
    return (a+b+c)/3

In [74]:
average(2,5,6)

4.333333333333333

In [76]:
average(3,5)

TypeError: average() missing 1 required positional argument: 'c'

In [78]:
def compute_hypotenus(a,b):
    hyp= (a**2+b**2)**0.5
    return hyp

In [80]:
compute_hypotenus(3,4)

5.0

In [82]:
compute_hypotenus(30,10)

31.622776601683793

In [84]:
result =compute_hypotenus(4,3)
print(f"The hypotenus of 3 and 4 is {result}")

The hypotenus of 3 and 4 is 5.0

In [86]:
def add3(a,b,c):
    d=a+b+c
    print(d)

In [88]:
add3(2,4,5)

11

In [90]:
answer =add3(2,4,5)

11

In [92]:
print(answer)

None

In [99]:
answer+ 6

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [ ]:
def compute_hypotenus(opposiste,adjacent):
    hyp= (opposiste**2+adjacent**2)**0.5
    return hyp

In [101]:
import math

In [103]:
math.pi

3.141592653589793

In [105]:
math.sqrt(25)

5.0

In [107]:
def compute_hypotenus(opposiste,adjacent):
    hyp= math.sqrt(opposiste**2+adjacent**2)
    return hyp

In [109]:
compute_hypotenus(45,5)

45.27692569068709

Type:        module
String form: <module 'math' (built-in)>
Docstring:
This module provides access to the mathematical functions
defined by the C standard.

In [117]:

def compute_hypotenus2(opposiste,adjacent):
    hyp= math.sqrt(math.pow(opposiste,2)+math.pow(adjacent,2))
    return hyp

In [119]:
compute_hypotenus2(3,4)

5.0

In [123]:
pow(4,2)

16

In [127]:
from math import sqrt,pi, e

In [131]:
def compute_hypotenus3(opposiste,adjacent):
    hyp= sqrt(pow(opposiste,2)+pow(adjacent,2))
    return hyp

In [133]:
compute_hypotenus3(3,4)

5.0

In [135]:
pi

3.141592653589793

In [137]:
e

2.718281828459045

In [139]:
pi*compute_hypotenus3(3,4)

15.707963267948966

In [151]:
def taxi_fare(distance):
    base_fare=4
    distance_in_metres=distance*1000
    if distance_in_metres <140:
        return base_fare
    else:
        return base_fare+distance_in_metres*(0.25/140)

In [153]:
taxi_fare(0.07)

70.0

4

In [155]:
taxi_fare(0.3)

300.0

4.535714285714286

In [ ]:
def taxi_fare(distance):
    base_fare=4
    distance_in_metres=distance*1000
    if distance_in_metres <140:
        return base_fare
    return base_fare+distance_in_metres*(0.25/140)

In [173]:
def taxi_fare2(distance):
    return 4 if distance*1000<140 else 4+distance*1000*(0.25/140)

In [169]:
taxi_fare2(0.07)

4

In [171]:
taxi_fare2(0.3)

4.535714285714286

In [ ]:
# ternary operators in python

In [185]:
def shipping_calculator(number_of_items):
    if number_of_items==1:
        return 10.95
    return 10.95+2.95*(number_of_items-1)

In [187]:
shipping_calculator(1)

10.95

In [189]:
shipping_calculator(2)

13.899999999999999

In [191]:
def shipping_calculator(number_of_items):
    return 10.95+2.95*(number_of_items-1)

In [ ]:
items_count=int(input("How many items?: "))
result=shipping_calculator(items_count)
print("Your shipping fee")