In [1]:
## 35

In [13]:
human_year=int(input("Enter the human year: "))
first_two_years=10.5*human_year
human_year_more_than_2=10.5*2+(human_year-2)*4
if human_year<=0:
    print("Invalid input")
elif human_year<=2:
    print(f"{first_two_years} Dog years")
else:
    print(f"{human_year_more_than_2} Dog years")

Enter the human year:  5

33.0 Dog years

In [23]:
human_year=int(input("Enter the human year: "))
if human_year<=0:
    print("Error")
first_two_human_years=10.5*2
cal1=10.5*human_year
if human_year<=2:
    print(f"{cal1} Dog years")
cal2=first_two_human_years+4*(human_year-2)
if human_year>2:
    print(f"{cal2} Dog years")

Enter the human year:  0

Error
0.0 Dog years

In [35]:
human_year=int(input("Enter the human year: "))
first_two_human_years=10.5*2
if human_year<=0:
    print("Error")
elif human_year<=2:
    cal1=10.5*human_year
    print(f"{cal1} Dog years")
else:
    cal2=first_two_human_years+4*(human_year-2)
    print(f"{cal2} Dog years")

Enter the human year:  0

Error

In [43]:
month=input("Enter month: ").title()
if (month=="January" 
    or month =="March" 
    or month=="May" 
    or month=="July" 
    or month=="August" 
    or month=="October"
    or month=="December"):
    print("31 days")
elif month=="February":
    print("28 days or 29 days")
else:
    print("30 days")

Enter month:  feBruary

28 days or 29 days

In [45]:
month=input("Enter month: ").title()
months_with_31_days=["January","March" ,"May" ] 
if (month in months_with_31_days):
    print("31 days")
elif month=="February":
    print("28 days or 29 days")
else:
    print("30 days")

Enter month:  january

31 days

In [47]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [65]:
menu ="Menu:\n1. Garri and Soup(1200/plate)\n2. Jollof rice and Chicken(4500/plate)"
print(menu)
price_of_rice=4500
price_of_swallow=1200
choice_of_meal=input("Choose 1 or 2: ")
if choice_of_meal=="1":
    print("You chosed Garri and Soup")
else:
    print("You chosed Rice and Chicken")
number_of_plates=int(input("Enter number of plates: "))
if choice_of_meal=="1":
    total_cost = number_of_plates*price_of_swallow
else:
    total_cost = number_of_plates*price_of_rice
print(f"Total cost: {total_cost}")
if total_cost>=10000:
    discount=0.1*total_cost
    amount_to_pay=total_cost-discount
    print(f"You have a discount of {discount}")
    print(f"Final Amount to pay is {amount_to_pay}")

Menu:
1. Garri and Soup(1200/plate)
2. Jollof rice and Chicken(4500/plate)

Choose 1 or 2:  8

You chosed Rice and Chicken

Enter number of plates:  6

Total cost: 27000
You have a discount of 2700.0
Final Amount to pay is 24300.0

In [69]:
print("this\nis\nhappening")

this
is
happening

## Loops

In [74]:
list(range(4))

[0, 1, 2, 3]

In [76]:
list(range(3))

[0, 1, 2]

In [78]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [80]:
list(range(2,6))

[2, 3, 4, 5]

In [82]:
list(range(2,10,3))

[2, 5, 8]

In [86]:
print("Hello")
print("Hello")
print("Hello")
print("Hello")
print("Hello")
print("Hello")
print("Hello")
print("Hello")
print("Hello")
print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [98]:
for i in range(5):
    print("Hello")

Hello
Hello
Hello
Hello
Hello

In [94]:
for valentine in range(5):
    print(valentine)

0
1
2
3
4

In [106]:
for valentine in range(5):
    print(valentine*3)

0
3
6
9
12

In [ ]:
for number in range(101):
    print(number*2)

In [108]:
for number in range(0,101,2):
    print(number)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [110]:
for number in range(101):
    if number%2==0:
        print(number)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [112]:
for number in [3,5,4,5,34,65,345,64,46,3]:
    if number%2==0:
        print(number)

4
34
64
46

In [120]:
for i in range(5):
    name = input("Enter your name:").upper()
    if name.strip().startswith("P"):
        print("You're not allowed in")
    else: 
        print("Fine, you can come in")

Enter your name: jsjs

Fine, you can come in

Enter your name: sjjs

Fine, you can come in

Enter your name: djjjs

Fine, you can come in

Enter your name: djjjs

Fine, you can come in

Enter your name: djjjs

Fine, you can come in

In [ ]:
jnjnjs

In [124]:
for i in range(5):
    name = input("Enter your name:").upper()
    if name.strip().startswith("P"):
        continue
    else:
        print("You're not allowed in")

Enter your name: Precious
Enter your name: david

You're not allowed in

Enter your name: prince
Enter your name: yys

You're not allowed in

Enter your name: jkkks

You're not allowed in

In [126]:
for i in range(10):
    if i in [1,3,5,9]:
        continue
    else:
        print(i)

0
2
4
6
7
8

In [128]:
for i in range(10):
    if i in [1,3,5,9]:
        break
    else:
        print(i)

0

In [132]:
prices =[4.95, 9.95, 14.95, 19.95,24.95]
for price in prices:
    discount = 0.6*price
    new_price= price-discount
    print(f"{round(price,2)}\t{round(discount,2)}\t{round(new_price,2)}")

4.95	2.97	1.98
9.95	5.97	3.98
14.95	8.97	5.98
19.95	11.97	7.98
24.95	14.97	9.98

In [136]:
prices =[4.95, 9.95, 14.95, 19.95,24.95]
for price in prices:
    discount = 0.6*price
    new_price= price-discount
    print(f"Original price:{round(price,2)}\tDiscount:{round(discount,2)}\tNew price:{round(new_price,2)}")

Original price:4.95	Discount:2.97	New price:1.98
Original price:9.95	Discount:5.97	New price:3.98
Original price:14.95	Discount:8.97	New price:5.98
Original price:19.95	Discount:11.97	New price:7.98
Original price:24.95	Discount:14.97	New price:9.98

In [142]:
prices =[4.95, 9.95, 14.95, 19.95,24.95]
print("Price\tDiscount\tNew Price")
for price in prices:
    discount = 0.6*price
    new_price= price-discount
    print(f"{round(price,2)}\t{round(discount,2)}\t\t{round(new_price,2)}")

Price	Discount	New Price
4.95	2.97		1.98
9.95	5.97		3.98
14.95	8.97		5.98
19.95	11.97		7.98
24.95	14.97		9.98