In [2]:
from sklearn.neighbors  import KNeighborsClassifier
from sklearn.datasets import load_breast_cancer

In [3]:
bunch = load_breast_cancer()

In [4]:
bunch.target_names

array(['malignant', 'benign'], dtype='<U9')

In [5]:
y= bunch.target
X= bunch.data

In [7]:
len(y)

569

In [9]:
knn_model = KNeighborsClassifier()
knn_model.fit(X,y)
y_pred=knn_model.predict(X)
knn_model.score(X,y)

0.9472759226713533

In [10]:
from sklearn.metrics import r2_score
r2_score(y,y_pred)

0.7744569525923577

In [11]:
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0,
       1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0,
       0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1,
       1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1,
       1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1])

In [12]:
import pandas as pd

In [13]:
df = pd.DataFrame({"y":y,"y_pred":y_pred})

In [14]:
df

     y  y_pred
0    0       0
1    0       0
2    0       0
3    0       1
4    0       0
..  ..     ...
564  0       0
565  0       0
566  0       0
567  0       0
568  1       1

[569 rows x 2 columns]

In [15]:
df["correct"]=df.y==df.y_pred

In [16]:
df

     y  y_pred  correct
0    0       0     True
1    0       0     True
2    0       0     True
3    0       1    False
4    0       0     True
..  ..     ...      ...
564  0       0     True
565  0       0     True
566  0       0     True
567  0       0     True
568  1       1     True

[569 rows x 3 columns]

In [18]:
df.correct.sum()

539

In [19]:
len(y)

569

In [20]:
539/569

0.9472759226713533

In [22]:
def knn_model(X,y,n=5):
    model = KNeighborsClassifier(n)
    model.fit(X,y)
    score =model.score(X,y)
    print(score)

In [23]:
knn_model(X,y,5)

0.9472759226713533

In [24]:
knn_model(X,y,7)

0.9437609841827768

In [25]:
knn_model(X,y,9)

0.9420035149384886

In [26]:
knn_model(X,y,11)

0.9402460456942003

In [27]:
from sklearn.model_selection import train_test_split

## Train and test scores

In [30]:
def knn_model(X,y,n=5):
    X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3)
    model = KNeighborsClassifier(n)
    model.fit(X_train,y_train)
    train_score =model.score(X_train,y_train)
    test_score =model.score(X_test,y_test)
    
#     print(f"train score: {train_score}")
#     print(f"test score: {test_score}") 
    return train_score,test_score

In [29]:
knn_model(X,y)

train score: 0.9597989949748744
test score: 0.9181286549707602